* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.site {
  height: 100vh;
}

.site--app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.site--app,
.site--page {
  height: 100%;
}
